html,
body {
    height: 100%;
    padding: 0;
    margin : 0;
}

a {
    text-decoration: none;
}

#graph {
    display: inline-block;
    width: 65%;
    height: 70%;
}

#transactions {
    display: inline-block;
    width: 25%;
}
